<!DOCTYPE html>
<html>
<head>
	<title>Mongoose Dashboard</title>
</head>
<body>
    <h1>Create a Mongoose</h1>
	<form action='/mongooses' method='post'>
		Enter a name: <input type='text' name='name'>
		<br><br>
        Enter a description: <br>
        <textarea rows="4" cols="30" name='description'></textarea><br>
		<input type='submit' value='Submit'> <br>
	</form>
</body>
</html>